body{
text-align:center;
font-family:Arial;
animation:bg 1s infinite;
}

@keyframes bg{
0%{background:red;}
25%{background:yellow;}
50%{background:cyan;}
75%{background:lime;}
100%{background:red;}
}

#scoreBox{
font-size:30px;
font-weight:bold;
animation:rainbow 2s linear infinite;
}

@keyframes rainbow{
0%{color:red;}
20%{color:orange;}
40%{color:yellow;}
60%{color:lime;}
80%{color:cyan;}
100%{color:magenta;}
}

#gameArea{
height:400px;
position:relative;
}

.brainrot{
position:absolute;
font-size:40px;
cursor:pointer;
animation:blink 1s infinite;
}

.boss{
font-size:70px;
color:red;
}

@keyframes blink{
50%{opacity:0.3;}
}

#leaderboard{
display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:20px;
z-index:999;
}

#leaderboard li:nth-child(1){color:gold;}
#leaderboard li:nth-child(2){color:silver;}
#leaderboard li:nth-child(3){color:#cd7f32;}

#gameOver{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
color:white;
justify-content:center;
align-items:center;
flex-direction:column;
}

#nameScreen{
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:black;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
